/*----------------------------------------------
	.c_txt-sm
---------------------------------------------*/

.c_txt-sm {
  font-size: 1.4rem;
}

/*----------------------------------------------
	.c_txt-xs
---------------------------------------------*/

.c_txt-xs {
  font-size: 1.2rem;
  line-height: 1.5;
}
