/*----------------------------------------------
	.c_logo
---------------------------------------------*/

.c_logo {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  color: $color04;
}

/*----------------------------------------------
	.c_glo-nav
---------------------------------------------*/

.c_glo-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.3rem;
}

.c_glo-nav > li {
  margin-left: 20px;
}

.c_glo-nav > li > a {
  color: $color04;
}

/*----------------------------------------------
	.c_hero
---------------------------------------------*/

.c_hero {
  color: $color04;
}

/*----------------------------------------------
	.c_nav
---------------------------------------------*/

.c_nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.c_nav > li {
  width: 100%;
  text-align: center;
}

.c_nav > li > a {
  display: block;
  padding: 10px;
  color: $color04;
}

/*----------------------------------------------
	.c_btn
---------------------------------------------*/

.c_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $color01;
  color: $color04;
}

/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: 1.6rem;
  font-weight: 400;
}

/*----------------------------------------------
	.c_date
---------------------------------------------*/

.c_date {
  font-size: 1.2rem;
}

/*----------------------------------------------
	.c_tag
---------------------------------------------*/

.c_tag {
  font-size: 1.2rem;
}

/*----------------------------------------------
	.c_bnr
---------------------------------------------*/

.c_bnr {
  width: 100%;
  height: 70px;
  background-color: $color01;
}

/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/

.c_breadcrumb {
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 1.4rem;
}

.c_breadcrumb > li {
  padding: 0;
}

.c_breadcrumb > li::after {
  content: '>'
}

.c_breadcrumb > li:last-of-type::after {
  content: none;
}

.c_breadcrumb > li:last-of-type > a {
  pointer-events: none;
  color: inherit;
}

.c_breadcrumb > li > a {
  color: $color02;
}
