/*----------------------------------------------
	.l_header
---------------------------------------------*/

.l_header {
  display: grid;
  grid-template:
    "logo  glo-nav" auto
    /auto 1fr;
  padding: 20px;
}

/*  .l_header__left
------------------------------------- */
.l_header__left {
  grid-area: logo;
  align-self: center;
}

/*  .l_header__right
------------------------------------- */
.l_header__right {
  grid-area: glo-nav;
}

/*----------------------------------------------
	.l_main
---------------------------------------------*/

.l_main {
  padding: 50px;
  background-color: $color04;
}

/*----------------------------------------------
	.l_article-list
---------------------------------------------*/

.l_article-list {
  display:flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
}

.l_article-list__item {
  width: calc(25% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
}

.l_article-list.has_pad0 {
  padding: 0;
}

/*----------------------------------------------
	.l_sidebar
---------------------------------------------*/

.l_sidebar {
}

.l_sidebar__inner {
  margin-bottom: 10px;
}

/*----------------------------------------------
	.l_footer
---------------------------------------------*/

.l_footer {
  padding: 10px;
}

/*----------------------------------------------
	.l_btns
---------------------------------------------*/

.l_btns {
  margin: 15px;
  text-align: center;
}
