.u_mat0 { margin-top:0; }
.u_mat5 { margin-top:5px; }
.u_mat10 { margin-top:10px; }
.u_mat20 { margin-top:20px; }
.u_mat30 { margin-top:30px; }
.u_mat40 { margin-top:40px; }
.u_mat50 { margin-top:50px; }

.u_mar0 { margin-right: 0; }
.u_mar5 { margin-right: 5px; }
.u_mar10 { margin-right: 10px; }
.u_mar20 { margin-right: 20px; }
.u_mar30 { margin-right: 30px; }
.u_mar40 { margin-right: 40px; }
.u_mar50 { margin-right: 50px; }

.u_mab0 { margin-bottom: 0; }
.u_mab5 { margin-bottom: 5px; }
.u_mab10 { margin-bottom: 10px; }
.u_mab20 { margin-bottom: 20px; }
.u_mab30 { margin-bottom: 30px; }
.u_mab40 { margin-bottom: 40px; }
.u_mab50 { margin-bottom: 50px; }

.u_mal0 { margin-left: 0; }
.u_mal5 { margin-left: 5px; }
.u_mal10 { margin-left: 10px; }
.u_mal20 { margin-left: 20px; }
.u_mal30 { margin-left: 30px; }
.u_mal40 { margin-left: 40px; }
.u_mal50 { margin-left: 50px; }

.u_ALcenter { text-align: center; }
.u_ALright { text-align: right; }

/*----------------------------------------------
	.clearfix
---------------------------------------------*/

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

/*----------------------------------------------
	.u_wrap
---------------------------------------------*/

.u_wrap {
  width: $site-width;
  margin: 0 auto;
}

/*----------------------------------------------
	.u_stretched-link
---------------------------------------------*/
// リンクが含まれる親要素に".u_stretched-link"を追加する
.u_stretched-link {
  position: relative;
}
.u_stretched-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0)
}

/*----------------------------------------------
	Display none on specific viewport
---------------------------------------------*/

@media only screen and (min-width: $breakpoint + 1) {
  .mobile { display: none; }
}

@media only screen and (max-width: $breakpoint) {
  .desktop { display: none; }
}
