@charset "utf-8";

/* ↓↓↓↓↓↓ Comment out sample ↓↓↓↓↓↓ */
/*----------------------------------------------
	大くくりコメントアウト large part
---------------------------------------------*/

/*  中くくりコメントアウト middle part
------------------------------------- */

/* 小くくりコメントアウト small part */

$site-width: 1000px;
$breakpoint: 600px;
$font-family-sans-serif: Roboto, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-family-sans-serif-secondary: Roboto, "游ゴシック", YuGothic, sans-serif;
$font-family-serif: "Hiragino Mincho ProN", "游明朝", "YuMincho", "HG明朝E", Meiryo, serif;
$color01: #10C48B;
$color02: #12B783;
$color03: #F7F7F7;
$color04: #FFFFFF;
$color05: #F0F0F0;

/*----------------------------------------------
	Base
---------------------------------------------*/

@import "_normalize.scss";
@import "_base.scss";

/*----------------------------------------------
	Frame
---------------------------------------------*/

@import "_frame.scss";

/*----------------------------------------------
	Layout
---------------------------------------------*/

@import "_layout.scss";

/*----------------------------------------------
	Component
---------------------------------------------*/

@import "_component.scss";

/*----------------------------------------------
	Project
---------------------------------------------*/

@import "_project.scss";

/*----------------------------------------------
	Utility
---------------------------------------------*/

@import "_utility.scss";

/*----------------------------------------------
	Other
---------------------------------------------*/
