div.l_header
  div.l_header__left
    div.c_logo ichinichi.inc Coding Rule
  div.l_header__right
    ul.c_glo-nav
      li: a(href="#") Global nav1
      li: a(href="#") Global nav2
      li: a(href="#") Global nav3
      li: a(href="#") Global nav4
