//- SP向けハンバーガーナビアイコン
input.p_hamburger-nav#hamburger-icon(type="checkbox")
label.p_hamburger-nav__icon(for="hamburger-icon")

//- SP向けナビ
div.p_hamburger-nav__menu
  ul.p_hamburger-nav__list
    li: a(href=level+"./") ホーム
    li: a(href=level+"about/greeting/") はじめての方へ
    li: a(href=level+"feature/sweden/") あと会の特徴
    li: a(href=level+"service/welfare/") あと会が提供するサービス
    li: a(href="http://www.kunikusa.or.jp/recruit/" target="_blank") 採用情報
