div.l_sidebar
  div.c_bnr.l_sidebar__inner: img(src="common/img/bnr_sample.png")
  div.c_bnr.l_sidebar__inner: img(src="common/img/bnr_sample.png")
  div.c_bnr.l_sidebar__inner: img(src="common/img/bnr_sample.png")
  div.c_bnr.l_sidebar__inner: img(src="common/img/bnr_sample.png")
  div.c_bnr.l_sidebar__inner: img(src="common/img/bnr_sample.png")
